{% assign pub = include.pub | default: page %}

{% if pub.paperurl or pub.projecturl or pub.codeurl or pub.huggingfaceurl %}
  <p class="publication__links">
    {% if pub.paperurl %}<a class="btn btn--small" href="{{ pub.paperurl }}">Paper</a>{% endif %}
    {% if pub.projecturl %}<a class="btn btn--small" href="{{ pub.projecturl }}">Project</a>{% endif %}
    {% if pub.codeurl %}<a class="btn btn--small" href="{{ pub.codeurl }}">Code</a>{% endif %}
    {% if pub.huggingfaceurl %}<a class="btn btn--small" href="{{ pub.huggingfaceurl }}">{{ pub.huggingfacelabel | default: "Hugging Face" }}</a>{% endif %}
    {% if pub.github_repo %}
      <a href="{{ pub.codeurl }}" aria-label="GitHub stars for {{ pub.github_repo }}"><img class="publication__badge" src="https://img.shields.io/github/stars/{{ pub.github_repo }}?style=social" alt="GitHub stars for {{ pub.github_repo }}"></a>
    {% endif %}
  </p>
{% endif %}
